.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}



* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caudex", serif;
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  --bg:#ffe6d5;
  --bgMenu: #ffccaa;
  --bgButton:#ffb380;
  --hoverButton: #ff9955;
  --textNormal:#111;
  --linkNormal: #111; /*#1b2eda;*/
  
  --argent: #e6e6e6;
  --or: #ffc800;
  --gules: #c83737;
  --azure: #3771c8;
  --vert: #2ca02c;
  --purpure: #8d5fd3;
  --sable: #323232;
  --tenny: #ff7f2a;
  --brown: #a05a2c;

  background-color:var(--bg);
  color:var(--textNormal);
}
/* 
body.dark {
  --bg:#111;
  --textNormal:#eee;
  --linkNormal: #eee; #03a9f4;
  --bgMenu: #222;
  --bgButton:#333;
  --hoverButton: #444;
  --bgOptionsMenu: rgba(0,0,0, 0.7);
  --menuBorder: #555;
  --highlight: #2196F3;
  --darkmodeButton:#fff;
} */

#toggleTheme {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0;
  background-color: var(--darkmodeButton);
  border-radius: 1.5em;
  width: 3em;
  height: 3em;
}

a,
button,
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--linkNormal);
}

hr {
  height: 2px;
  border-width: 0;
  color: var(--bgButton);
  background-color: var(--bgButton);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 2em;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  height: 2em;
  transition: background-color 0.3s;
  background-color: var(--bgButton); 
  border-radius: 0.5em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: var(--hoverButton);
  cursor: pointer;
}

.editor-wrapper {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 500px;
}

/* Clear floats after the columns */
.editor-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

.crest-result {
  width: 50%;
  height: 100%;
  background-color: var(--bg);
  border: 20px solid var(--bgMenu);
  border-radius: 50px 0 0 50px;
}

.crest-control {
  width: 50%;
  height: 100%;
  background-color: var(--bgMenu);
  border-radius: 0 50px 50px 0;
}

#editor-controls {
  height: 100%;
}

.tab {
  height: 100%;
  /* min-height: 400px; */
  background-color: var(--bg);
  
}

.tablink {
  background-color: #ffdac2 !important;
  padding: 8px 4%;
  font-family: "Caudex", serif;
  font-weight: 400;
  font-size: large;
  /* margin: 0 10px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px -15px 20px -20px inset;
}

.tablink:hover {
  background-color: var(--bg) !important;
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#editor-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
} 

.selected, .selected:hover {
  background-color:var(--bg) !important;
  color:var(--textNormal) !important;
  box-shadow: none;
}

#download-button {
  background-color: var(--bgButton) !important;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.colorbutton {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid black;
}

.divbutton + svg {
  border: 2px solid black;
  padding: 0;
  margin: 5px;
}

.divbutton {
 display: none;
}

input, 
input + svg{
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--argent);
}

input[type="radio"].colorbutton:checked {
  border: 5px solid black;
}

input[type="radio"].divbutton:checked + svg {
  border: 5px solid black;
}

#top-pole {
  background-color: var(--brown);
  height: 500px;
  margin-bottom: -300px;
  transform: translate(0px, -40px);
  box-shadow: rgba(0, 0, 0, 0.3) -15px 0px 10px -10px inset;
}

#top-flag {
  height: 19em;
  background-color: #afdde9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='65' viewbox='0 0 65 65' %3E%3Cpath style='fill:%23a02c2c;'%0Ad='M 0,13.264423 H 50 L 25,38.264455 50,63 H 0 Z'/%3E%3Crect style='fill:%23c83737;' width='15' height='50' x='0' y='0'/%3E%3Cpath style='fill:%23782121;'%0Ad='M 15,50 0,63 V 50 Z'%0A/%3E%3C/svg%3E");
  background-repeat: space;
  margin-top: -20px;
}

#top-banner {
  background-color: var(--gules);
  color:white;
  padding-top: 20px;
  width: 100%;
  max-width: 950px;
}

#main-heading {
  letter-spacing: 5px;
  font-size: 10em;
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
             2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}

#sub-heading {
  margin-top: -15px;
  margin-left: 5px;
  font-size: 2.5em;
}

.shadow1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.shadow2 {
  box-shadow: rgba(90, 50, 50, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.shadowM {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 25px -15px;
}

.scroll::before, .scroll::after {
  content: "";
  display: block;
  height: 10px;
  margin-left: -3%;
  margin-right: -3%;
  background-color: var(--brown);
  box-shadow: rgba(0, 0, 0, 0.3) 0px -15px 10px -10px inset;
}

.scroll header, .scroll footer {
  color: white;
  background-color: var(--gules);
}

#editor-controls::before {
  margin-bottom: -12px;
}

#editor-controls::after {
  display: none;
}

.banner {
  display: inline-block;
  background-color: var(--gules); /*#c83737;*/
  height: 50px;
  margin-bottom: 30px;
}

.banner > h2 {
  color: white;
  display: inline-block;
  transform: translateY(-27px);
}

.banner::before, .banner::after {
  content: "";/* url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' stroke='black' stroke-width='2' fill='red'/%3E%3C/svg%3E "); */
  display: inline-block !important;
  width: 50px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: right top;
}

.banner::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23a02c2c;'%0Ad='M 0,13.264423 H 50 L 25,38.264455 50,63 H 0 Z'/%3E%3Crect style='fill:%23c83737;' width='15' height='50' x='0' y='0'/%3E%3Cpath style='fill:%23782121;'%0Ad='M 15,50 0,63 V 50 Z'%0A/%3E%3C/svg%3E");
  transform: translate(-49px, 0px) scale(-1,1);
}

.banner::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23a02c2c;'%0Ad='M 0,13.264423 H 50 L 25,38.264455 50,63 H 0 Z'/%3E%3Crect style='fill:%23c83737;' width='15' height='50' x='0' y='0'/%3E%3Cpath style='fill:%23782121;'%0Ad='M 15,50 0,63 V 50 Z'%0A/%3E%3C/svg%3E");
  transform: translate(49px, 0px);
}

.label > p {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px -5px;
}